/* Styles for the main element */
.accio {
    width: 150px;
    height: 150px;
    background-color: black;
  }
  
  /* Styles for the paragraph inside main */
  .hello-accio {
    color: white;
    margin-left: 32px;
    padding: 10px;
  }
  